:host {
  width: 100%;
}

h3,
p {
  padding: 0;
  margin: 0;
}

article {
  display: flex;
  border: 1px solid black;
}

.article-img {
  width: 20%;
  height: auto;
}

.text-wrapper p {
  display: none;
}

.container {
  contain: inline-size layout style;
}

@container (min-width: 240px) {
  .text-wrapper p {
    display: block;
  }
}

@container (min-width: 320px) {
  article {
    flex-direction: column;
  }
  .article-img {
    width: 100%;
    height: auto;
  }
}

@container (min-width: 520px) {
  article {
    flex-direction: row-reverse;
  }
  .article-img {
    width: 60%;
    height: auto;
  }
  h3,
  p {
    padding: 1rem;
    margin: 0.5rem;
  }
}

@container (min-width: 800px) {
  article {
    max-width: 50rem;
  }
}
